[submodule "tabby-go/vendor/btk"]
	path = tabby-go/vendor/btk
	url = https://github.com/robertpelloni/btk.git
[submodule "just-every-code"]
	path = just-every-code
	url = https://github.com/just-every/code
[submodule "pi-mono"]
	path = pi-mono
	url = https://github.com/badlogic/pi-mono
